In [1]:
import pandas as pd 
import numpy as np

In [26]:
df = pd.read_csv('../data/grid.txt', delimiter=' ', header=None)

In [27]:
df

                0         1    2
0               #         τ  0.0
1        0.000000  0.000000  0.0
2        0.000000  0.010000  0.0
3        0.000000  0.020000  0.0
4        0.000000  0.030000  0.0
...           ...       ...  ...
1030397  1.000000  0.960000  0.0
1030398  1.000000  0.970000  0.0
1030399  1.000000  0.980000  0.0
1030400  1.000000  0.990000  0.0
1030401  1.000000  1.000000  0.0

[1030402 rows x 3 columns]

In [30]:
# number of the 50-th row such that the 1st column is '#'
times = np.array([3, 10, 30, 60, 100])
x_coord = 20
L=df[df[0] == '#'].index[times]+1+101*x_coord

In [31]:
for i in L:
    with open("data/data" + str(x_coord) + str(L.get_loc(i)) + ".txt", 'w') as file:
      for j in range(101):
          print(str(df.iloc[i+j, 1])+" "+str(df.iloc[i+j, 2]), file=file)